body
{
    overflow: hidden;
    
}
.titulo
    {
        position: absolute;
        width: 100%;
        height: -100vh;
        top: -6%;
        left: 30%;
        display: flex;
        justify-content: top;
        justify-items: top;
        align-content: top;
        align-items: top;
        animation: rubberBand 5s;
        animation: bounceInDown 5s;
    }
footer {
    padding: 50px;
    text-align: center;
    color: white;
    position: absolute;
    width: 90%; 
    line-height: 100px;
    top: 75%;
    animation: bounceInUp 4s;
  }

  table, th, td {
    border:px solid rgb(255, 255, 255);
  }

  a:link {
    color: rgb(253, 253, 253);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  .Barra1
  {
    position: absolute;
    top: 89%; 
    left: 555px;
    animation: bounceInUp 4s;
  }
  .Barra2 
  {
    position: absolute;
    top: 89%; 
    left: 155px;
    animation: bounceInUp 4s;
  }
  
  .Barra3 
  {
    position: absolute;
    top: 85%; 
    left: 555px;       
    animation: bounceInUp 4s;
  }
  .Barra4 
  {
    position: absolute;
    top: 85%; 
    left: 155px;
    animation: bounceInUp 4s;
  }